<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h1>Admin Dashboard</h1>

<div class="categroties-count">
    <h5 class="card-title">Number of Total Products</h5>
    <p class="card-text"><%= @totalNumProduct %></p>
    <%= link_to "Products", "/admin/products", class:"btn btn-primary" %>
</div>
<div class="categrories-count">
    <h5 class="card-title">Number of Total Categories</h5>
    <p class="card-text"><%= @totalNumCategories %></p>
    <%= link_to "Categories", "#", class:"btn btn-primary" %>
</div>
